
---

#### **.gitignore**
```plaintext
# Python
*.pyc
__pycache__/

# Virtual Environment
.env/
venv/

# Unreal Engine
Saved/
DerivedDataCache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

principles_of_acm.html
articles/
repo_structure.yaml
repo_structure_omni2.yaml
flattened_repo.txt
flattened_repo_omni_2.txt


